# ==========================
# Miscellaneous
# ==========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ==========================
# IDE
# ==========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ==========================
# Dart / Flutter / Pub
# ==========================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# Build outputs
build/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication
app.*.symbols
app.*.map.json

# ==========================
# Android
# ==========================
android/.gradle/
android/local.properties
android/**/captures/
android/app/debug/
android/app/profile/
android/app/release/

*.keystore
*.jks

# ==========================
# iOS
# ==========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec